.mapcontainer{
    height: 110vh;
    width: 100%;
    background-size: cover;
    display: flex;
    margin:auto;
    /* align-items:center; */
    background-image: url(../image/allstar.jpg);
    z-index: -1;
    opacity: 0.8;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;  

}
.containerStyle{
    width:800px;
    height:400px;
}
.mappy {

    display:block;
   /* margin:100px auto auto 600px; */
    margin-top:150px;
    border-top:20px;
    text-align: center;
}
@media (max-width: 768px) {
    
    .mappy{
        display: fixed;
        align-self: center;       
         text-align: center;
        margin-left:20px;
    }
    .infowindow h2{
        color:rgb(10, 103, 209);
    }

}